body {
    font-family: 'Nunito', sans-serif;
    background-color: #fff;
    color: #000;
    font-weight: 400 !important;
}




.btn {
    /* width: 100px; */
    height: 40px;
    background-color: #10455b;
    border: none;
    color: white;
    padding: 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.btn .devourBtn {
    /* width: 100px; */
    height: 40px;
    background-color: #10455b;
    border: none;
    color: white;
    padding: 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.ml-5,
.mx-5 {
    margin-left: 11rem !important;
}

input[type=text] {

    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ffaf20;
    box-sizing: border-box;
}